.portfolio-box-caption-content
  .project-name
    = link_to "Your Guesses", challenge
  .project-category.text-faded
    Focal Length:
    - if challenge.focal_length_correct
      = challenge.focal_length_guess
      .glyphicon.glyphicon-ok
    - else
      %del.wrongAnswer= challenge.focal_length_guess
      = image.focal_length
  .project-category.text-faded
    Exposure:
    - if challenge.exposure_correct
      = challenge.exposure_guess
      .glyphicon.glyphicon-ok
    - else
      %del.wrongAnswer= challenge.exposure_guess
      = image.exposure
  .project-category.text-faded
    Aperture:
    - if challenge.aperture_correct
      = challenge.aperture_guess
      .glyphicon.glyphicon-ok
    - else
      %del.wrongAnswer= challenge.aperture_guess
      = image.aperture
  .project-category.text-faded
    ISO Speed:
    - if challenge.iso_speed_correct
      = challenge.iso_speed_guess
      .glyphicon.glyphicon-ok
    - else
      %del.wrongAnswer= challenge.iso_speed_guess
      = image.iso_speed
  .project-category.text-faded
    Overall Score:
    = challenge.overall_score