<li>  
  <%= link_to(image_tag(image[:original_url]),image[:original_url]) %>
  <h3><%= image[:title] %></h3>
  <p><b>Image ID:</b> <%= image[:p_id] %></p>
  <p><b>Focal Length:</b> <%= image[:focal_length] %></p>
  <p><b>Exposure:</b> <%= image[:exposure] %></p>
  <p><b>Aperture:</b> <%= image[:aperture] %></p>
  <p><b>ISO Speed:</b> <%= image[:iso_speed] %></p>
</li>