.col-lg-4.col-sm-6
  .portfolio-box
    %img{:alt => image.title, :class => "/startbootstrap/img-responsive", :src => image.large_url}
      .portfolio-box-caption
        .portfolio-box-caption-content
          .project-name
            = link_to(image.title,link)
          .project-category.text-faded
            Focal Length:
            = image.focal_length
          .project-category.text-faded
            Exposure:
            = image.exposure
          .project-category.text-faded
            Aperture:
            = image.aperture
          .project-category.text-faded
            ISO Speed:
            = image.iso_speed