%li
  .imgWrap
    = image_tag(image.large_url)
    .imgContainer
      .imgDescription
        %h4= link_to(image.title,image.large_url)
        %br
        %b Focal Length:
        = image.focal_length
        %br
        %b Exposure:
        = image.exposure
        %br
        %b Aperture:
        = image.aperture
        %br
        %b ISO Speed:
        = image.iso_speed
        
