.imgWrap
  = image_tag image.large_url
  .imgContainer
    .imgDescription
      .row
        %h4= link_to(image.title,link)
      .row
        %b Focal Length:
        = image.focal_length
      .row
        %b Exposure:
        = image.exposure
      .row
        %b Aperture:
        = image.aperture
      .row
        %b ISO Speed:
        = image.iso_speed
