%html
%head
  %title Phazam
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  = stylesheet_link_tag 'application',{ media: 'all', 'data-turbolinks-track' => true}
  = javascript_include_tag 'application', {'data-turbolinks-track' => true}
  = csrf_meta_tags
%body
  .container
    .ul.nav.nav-tabs
      %li= link_to "Home", root_path
      %li= link_to "Images", images_path
      %li= link_to "Challenge", challenges_path
      .user-info.pull-right
        - if current_user
          Hello 
          = link_to (current_user.name || current_user.email), current_user
          = link_to "", edit_user_registration_path, class: 'glyphicon glyphicon-user'
        - else
          = link_to "Sign In", new_user_session_path 
          or
          = link_to "Sign Up", new_user_registration_path
    - if flash[:notice]
      .alert.alert-success
        %button{type:"button",class:"close",dismiss:"alert"} &times;
        = flash[:notice]
    - elsif flash[:error]
      .alert.alert-danger
        %button{type:"button",class:"close",dismiss:"alert"} &times;
        = flash[:error]
    - elsif flash[:alert]
      .alert.alert-warning
        %button{type:"button",class:"close",dismiss:"alert"} &times;
        = flash[:alert]
    = yield